.fl {
    float: left;
}

.fr {
    float:right;
}
.style-red {
    color: red;
}

/* 版心,左右居中 */
.w {
 width:1200px;
 margin:0 auto;
}
/* 快捷导航栏 */
.shortcut {
    height:31px;
    background-color: #f1f1f1;
    line-height:31px;
}
.shortcut li{
    float:left;
}
.spacer{
    width:1px;
    height:12px;
    background-color: #666;
    margin:10px 10px 0;/*marginde三种写法*/
}